* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.ama {
    width: 500px;
    height: 260px;
}

li {
    list-style-type: none;
}

.hero {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 520px;
    
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 16px;
    
}
 .leftlinks {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
    
    

 }

 .text h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #E5E7EB;
    
 }

 .logo {
    display: flex;
    
    color: #F9FAF8;
    font-size: 24px;
    
 }

 .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 120px;
 }

 .text {
   
    display: flex;
    flex-direction: column;
    color: #E5E7EB;
    width: 400px;
    align-items: flex-start;
    font-size: 18px;
    
    
    
 }

 .signup {
    background-color: #3882F6;
    color: white;
    border-radius: 12px;
    border: 3px;
    font-size: 18px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    transition-duration: 0.4s;
  

  }
  .signup:hover {
    background-color: #ADE0FE;
   
  }

  .footer {
   display: flex;
   flex-direction: row;
   background-color: #1F2937;
   justify-content: center;
   align-items: center;

  }
  .copy {
   font-size: 18px;
   color: #E5E7EB; 
   margin-top: 24px;
   margin-bottom: 24px;
  }

  .midbody {
   display: flex;
   flex-direction: column;
   
  }

  .first {
   display: flex;
   flex-direction: column;
   height: 450px;
   align-items: center;
   margin-top: 48px;
   
  }
  .titolo {
   font-size: 36px;
   margin-bottom: 40px;
   font-weight: bold;
   color: #1F2937;
  }

  .cards {
   display: flex;
   flex-direction: row;
   gap: 24px;
   
  }
  .cr1,  .cr2, .cr3, .cr4 {
   width: 180px;
   height: 160px;
   border-radius: 12px;
   margin-bottom: 12px;
  
  }

  .txt1, .txt2, .txt3, .txt4 {
   width: 200px;
  }

  .second {
   display: flex;
   flex-direction: column;
   height: 420px;
   align-items: center;
   justify-content: center;
   background-color: #E5E7EB;
  }
  .second p {
   width: 760px;
   font-size: 36px;
   font-style: italic;
   color: #1F2937;
   
  }
  .otor {
   display: flex;
   font-size: 24px;
   margin-left: 570px;
  }


  .third {
   display: flex;
   flex-direction: column;
   height: 350px;
   justify-content: center;
   align-items: center;
   
   background-color: white;
  }

  .ad {
   display: flex;
   border-radius: 12px;
   flex-direction: row;
   background-color: #3882F6;
   height: 155px;
   width: 850px;
   align-items: center;
   justify-content: space-around;
  }
  .click {
   color: #E5E7EB;
   font-size: 18px;
   
  }

  .action {
   color: white;
   font-size: 36px;
  }

  .sign {
   font-size: 24px;
   background-color: #3882F6;
   border-radius: 3px;
   
   border: 2px;
   border-style: solid;
   border-color: white;
   padding-left: 28px;
   padding-right: 28px;
   padding-top: 6px;
   padding-bottom: 6px;
  }